@using Hotello.UI.Web.NavigationRoutes
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Hotel Search and Booking Engine" />
        <meta name="author" content="Patrick Magee"/>
        <title>@ViewBag.Title</title>       
        @Styles.Render("~/content/css")
        @RenderSection("Styles", required: false)
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Hotello</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            @Html.Navigation()
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>   
             
        <div class="container">
            <!-- ALERTS -->
            @Html.Partial("_alerts")
            @RenderBody()

            <hr />
            <footer>
                <div class="span4">
                    <p>Copyright &copy; @DateTime.Now.ToString("yyyy") Hotello</p>
                </div>
                <div class="span3">
                    <img src="@Url.Content("~/Content/images/affiliatedwith_EAN.jpg")" alt="Expedia Affiliate Network" title="Affiliated with Expedia Affiliate Network" />
                </div>
                <div class="span4">
                    <a class="pull-right" href="http://www.w3.org/html/logo/">
                        <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_32.png" width="32" height="32" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics" />
                    </a>
                </div>
            </footer> 
        </div>
        
        <!-- Le javascript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        @Scripts.Render("~/js")
        @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyDm7lXUQTaEvPo-eghcFIo2VjJvyKawKUo&amp;sensor=false&amp;libraries=places,geometry,weather")
        @RenderSection("Scripts", required: false)
    </body>
</html>
