@using Hotello.UI.Web.Models
@using Hotello.UI.Web.NavigationRoutes
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Hotel Search and Booking Engine" />
        <meta name="author" content="Patrick Magee"/>
        <title>@ViewBag.Title</title>       
        @Styles.Render("~/content/css")
        @RenderSection("Styles", required: false)
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        @Html.Partial("_html5shiv")
        <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="@Url.Action("Index", "Search")">Hotello</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            @Html.Navigation()
                            @if (Session["Search"] != null && ViewContext.Controller.ValueProvider.GetValue("action").AttemptedValue != "Index")
                            {
                                <li class="navbar-link">
                                    <a href="#searchForm" title="Change your search criteria">
                                        Change your search criteria
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @Html.Partial("_alerts")
            @if (Session["Search"] as SearchViewModel != null && ViewContext.Controller.ValueProvider.GetValue("action").AttemptedValue != "Index")
            {
                @Html.Partial("_search", Session["Search"] as SearchViewModel)
            }
            @RenderBody()
            <hr />
            <footer>
                <div class="span4">
                    <p>Copyright &copy; @DateTime.Now.ToString("yyyy") Hotello</p>
                </div>
                <div class="span3">
                    <img src="@Url.Content("~/Content/images/affiliatedwith_EAN.jpg")" alt="Expedia Affiliate Network" title="Affiliated with Expedia Affiliate Network" />
                </div>
                <div class="span4">
                    <a class="pull-right" href="http://www.w3.org/html/logo/">
                        <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_32.png" width="32" height="32" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics" />
                    </a>
                </div>
            </footer> 
        </div>
        <!-- Le javascript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        @Scripts.Render("~/js")
        @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyDm7lXUQTaEvPo-eghcFIo2VjJvyKawKUo&amp;sensor=false&amp;libraries=places,geometry,weather")
        @RenderSection("Scripts", required: false)
        <script type="text/javascript">

            // Search form
            $(document).ready(function() {

                $('a[href="#searchForm"]').click(function(e) {
                    e.preventDefault();
                    if ($('div#searchForm').is(':visible')) {
                        $('div#searchForm').slideUp('slow');
                    } else {
                        $('div#searchForm').slideDown('slow');
                    }
                });

                // ----------------------------------------------------------------
                // Auto Suggestions -----------------------------------------------
                // ----------------------------------------------------------------

                // http://api.jqueryui.com/autocomplete/#event-select

                $("input#Destination").autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: '@Url.Action("AutoSuggestDestination", "Places")', // Call the Google Ajax controller
                            type: "GET", // HTTP GET
                            dataType: "json",
                            data: {
                                text: request.term
                            },
                            success: function(data) {

                                response($.map(data, function(item) {
                                    return {
                                        label: item.suggestion,
                                        value: item.suggestion
                                    };
                                }));
                            },
                            error: function() {

                                return {
                                    label: "There was an error getting suggested locations",
                                    value: ""
                                };
                            }
                        });
                    },
                    select: function(event, ui) {
                        console.log("Selected " + ui.item.value);
                        populateNearbyLandmarks(ui.item.value);
                    },
                    minLength: 3
                });


                // ----------------------------------------------------------------
                // Dates ----------------------------------------------------------
                // ----------------------------------------------------------------

                $("input#CheckinDate").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    constrainInput: true,
                    numberOfMonths: 2,
                    minDate: 0,
                    //dateFormat: 'dd/mm/yy',
                    onClose: function(selectedDate) {

                        $("input#CheckoutDate").datepicker("option", "minDate", selectedDate);
                        $("input#CheckoutDate").datepicker("option", "maxDate", new Date(selectedDate).addDays(30));
                    }
                });

                $("input#CheckoutDate").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    constrainInput: true,
                    numberOfMonths: 2,
                    minDate: 0,
                    //dateFormat: 'dd/mm/yy',
                    onClose: function(selectedDate) {
                        $("input#CheckinDate").datepicker("option", "maxDate", selectedDate);
                        $("input#CheckinDate").datepicker("option", "minDate", new Date(selectedDate).addDays(-30));
                    }
                });

                $("input#CheckinDate").datepicker("setDate", +1);
                $("input#CheckoutDate").datepicker("setDate", +7);


                // ----------------------------------------------------------------
                // Ratings --------------------------------------------------------
                // ----------------------------------------------------------------

                $('div#starMinimum').rateit({
                    min: 0,
                    max: 5,
                    backingfld: '#MinimumStarRating',
                    resetable: false,
                    ispreset: true,
                });

                $('div#starMaximum').rateit({
                    min: 0,
                    max: 5,
                    backingfld: '#MaximumStarRating',
                    resetable: false,
                    ispreset: true,
                });

                var tooltipvalues = ['Economy', 'Moderate', 'First Class', 'Superior', 'Deluxe'];

                $(".star").bind('over', function(event, value) {
                    $(this).attr('title', tooltipvalues[value - 1]);
                });

                // Make sure minimum and maximum ratings make logical sense

                $("div#starMinimum").bind('rated', function(event, value) {

                    var min = $('div#starMinimum').rateit('value');
                    var max = $('div#starMaximum').rateit('value');

                    if (min > max) {
                        $('div#starMaximum').rateit('value', min);
                    }

                });

                $("div#starMaximum").bind('rated', function(event, value) {

                    var min = $('div#starMinimum').rateit('value');
                    var max = $('div#starMaximum').rateit('value');

                    if (max < min) {
                        $('div#starMaximum').rateit('value', min);
                    }

                });

                $('input#MinimumStarRating').hide();
                $('input#MaximumStarRating').hide();

                $("div#starMaximum").rateit('value', 5);
                $("div#starMinimum").rateit('value', 1);

                // ----------------------------------------------------------------
                // Reset Multi Select List Options --------------------------------
                // ----------------------------------------------------------------

                $('a.btn-info').click(function() {
                    $(this).parent('div.controls').find('select option:selected').removeAttr('selected');
                });

                // ----------------------------------------------------------------
                // Room -----------------------------------------------------------
                // ----------------------------------------------------------------

                $('ol.rooms > :not(li:first)').hide(); // hide all rooms except first

                function roomSort() {

                    var idx = $('select#NumberOfBedrooms').val();

                    $('ol.rooms > li:gt(' + (idx - 1) + ')').each(function() {
                        $(this).slideUp('slow');
                    });

                    // Less than the number of rooms wanted, show
                    $('ol.rooms > li:lt(' + (idx) + ')').each(function() {
                        $(this).slideDown('slow');
                    });
                }

                $('select#NumberOfBedrooms').change(function() {
                    roomSort();
                });

                roomSort();

                // ----------------------------------------------------------------
                // Children -------------------------------------------------------
                // ----------------------------------------------------------------

                $('div.input-prepend.age').hide(); // Hide all child ages initially

                $('select[name$=".Children"]').change(function() {
                    sortChildAges();
                });

                function sortChildAges() {

                    $('select[name$=".Children"]').each(function() {

                        var select = $(this);
                        var children = $(this).val();

                        console.log("Children Selected: " + children);

                        var ageSelects = $(select.closest('.room').find('.age select'));

                        $(select.closest('.room').find('.age select')).each(function() {
                            $(this).parent('div.age').hide(); // hard hide reset
                        });

                        for (var i = 0; i < children; i++) {

                            $(ageSelects[i]).parent('div.age').show();
                        }

                    });
                }

                sortChildAges();


                // ----------------------------------------------------------------
                // Amenities ------------------------------------------------------
                // ----------------------------------------------------------------

                $('form a[href="#amenities"]').tooltip({
                    placement: 'right',
                    animation: true,
                    html: false,
                    selector: false,
                    title: 'Select upto 3 amenities',
                });

                $('input[name="Amenities"]:checkbox').click(function() {

                    console.log("Checkbox event fired");

                    if ($('input[name="Amenities"]:checked').length === 3) {
                        $('input[name="Amenities"]:not(:checked)').attr("disabled", true);
                    } else {
                        $('input[name="Amenities"]').removeAttr("disabled");
                    }
                });

                // Keep the checkbox button list open
                $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
                    e.stopPropagation();
                });


                // ----------------------------------------------------------------
                // Lankmark Proximity ---------------------------------------------
                // ----------------------------------------------------------------

                $('#destinationId').closest('.controls').find('span.add-on');

                if ($('input#Destination').length > 0) {

                    console.log("Pre-populating any landmarks...");
                    populateNearbyLandmarks($('input#Destination').val());

                } else {

                    console.log("No destination selected...");
                    $('select#destinationId').append($("<option></option>").attr("value", "").text("Enter a destination"));
                }


                function populateNearbyLandmarks(destination) {

                    // Set the loading text in the select list
                    $('select#destinationId').html("<option value=''>" + 'Checking for landmarks...' + "</option>");

                    // Start the loading gif
                    $('#destinationId').closest('div.controls').find('span.add-on').show();

                    // Get nearby landmarks based on the users input destination string

                    $.ajax({
                        url: '@Url.Action("Landmarks", "Search")',
                        type: "GET", // HTTP GET
                        dataType: "json",
                        data: {
                            destinationString: destination
                        },
                        success: function(data) {

                            // Remove any pre-populated options
                            $('select#destinationId option').remove();

                            if (data.length > 0) {

                                // Ok, so we have some results to show

                                $.each(data, function(index, landmark) {

                                    // console.log(landmark.description + "[" + landmark.destinationId + "]");

                                    var option = "<option value='" + landmark.destinationId + "'>" + landmark.description + "</option>";
                                    $('select#destinationId').append(option);

                                });

                                $('select#destinationId').prepend("<option value='' selected='selected'>All</option>");
                                $('select#destinationId').scrollTop(10);

                            } else {

                                $('select#destinationId').html($("<option></option>").attr("value", "").text("No landmarks available"));

                            }

                            $('select#destinationId').effect("highlight", {
                                color: '#3a87ad' // Bootstrap Info Colour
                            }, 500);

                        },
                        error: function(e) {

                            console.log("Error populating landmarks from response: " + e);

                            $('select#destinationId').html($("<option></option>").attr("value", "").text("No landmarks available"));
                        }
                    });

                    // Stop the loading gif
                    $('#destinationId').closest('.controls').find('span.add-on').hide();
                }
            });
            
        </script>

    </body>
</html>
