@using System.Globalization
@using System.Text
@using Hotello.Common
@using Hotello.Services.Expedia.Hotels.Models
@using Hotello.UI.Web.Models
@using Microsoft.Security.Application
@using PagedList

@model IPagedList<HotelSummary>

@{
    ViewBag.Title = "Hotel Results";
    var culture = new CultureInfo("en-GB");
    const string googleApiKey = "AIzaSyDm7lXUQTaEvPo-eghcFIo2VjJvyKawKUo";
    
}

<div class="well">
    
    <div class="row-fluid">
        
        <div class="span6">
            <h2 class="pull-left">Available Hotels
                <small>@Model.TotalItemCount results</small>
            </h2>
        </div>
        
        <div class="span6">
            @using (Html.BeginForm("Results", "Search", FormMethod.Get, new {@class = "form-search pull-right"}))
            {
                @Html.Hidden("SortOrder", ViewBag.SortOrder as string)
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class = "input-medium search-query", placeholder = "hotel name..."})
                <button class="btn btn-small btn-info" type="submit">Search</button>
            }
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="pull-left">
            @Html.Partial("_pagination", Model)
        </div>
        <div class="pull-right">
            @Html.DropDownList("Sort", ResultsViewModel.ResultsOrderList)
        </div>
    </div>
        
    

    @foreach (var hotel in Model.OrEmptyIfNull())
    {               
        <div class="well" style="background-color: white">

            <!-- Hotel Name and expedia star rating -->
            <div class="row-fluid">
                <div class="span6">
                    <span title="@hotel.HotelId"><b>@Server.HtmlDecode(hotel.Name)</b></span>
                    <div class="rateit" data-rateit-value="@hotel.HotelRating" data-rateit-min="0" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                </div>
                <div class="span6">
                    <h3 class="pull-right" style="margin-top: -10px; margin-bottom: -25px;">
                        <small>Averaging </small><span>@culture.NumberFormat.CurrencySymbol</span>@hotel.HighRate.ToString("0.##")<small> / night </small>
                    </h3>
                </div>
            </div>
            <br />

            <!-- Hotel Properties -->
            <div class="row">
                
                <!-- Thumbnail -->
                <div class="span1">
                    <img class="img-rounded" width="150" height="150" alt="Hotel Thumbnail" src="@string.Format(@"http://images.travelnow.com/{0}", hotel.ThumbNailUrl)" title="@hotel.HotelId" />
                    <p>
                        <a class="hide" href="@hotel.DeepLink">Deep Link</a>
                    </p>
                </div>
                
                <!-- Address -->
                <div class="span2">
                    <span class="label label-info">
                        <i class="icon-home"></i> Address
                    </span>
                    <span class="label label-info" title="Nearest Airport (IATA Code)">
                        <i class="icon-plane"></i> @hotel.AirportCode
                    </span>
                    <address>
                        @if (!string.IsNullOrEmpty(hotel.Address1))
                        {
                            @hotel.Address1<br />
                        }
                        @if (!string.IsNullOrEmpty(hotel.Address2))
                        {
                            @hotel.Address2<br />
                        }
                        @if (!string.IsNullOrEmpty(hotel.City))
                        {
                            @hotel.City<br />
                        }
                        @if (!string.IsNullOrEmpty(hotel.PostalCode))
                        {
                            @hotel.PostalCode<br />
                        }
                    </address>
                    <p>
                        <!-- ADDITIONAL -->
                    </p>
                </div>
                
                <!-- Short Description -->
                <div class="span2">
                    <span class="label label-info">
                        <i class="icon-info-sign"></i> Summary
                    </span>
                   
                    @Html.Raw(Sanitizer.GetSafeHtmlFragment(Server.HtmlDecode(hotel.ShortDescription).Replace("<b>Location. </b>", string.Empty)))
                </div>
  
                <!-- Google Map -->
                <div class="span2">
                    <p>
                        @{
                        var url = new StringBuilder()
                            .Append("http://maps.googleapis.com/maps/api/staticmap?")
                            .Append(string.Format("center={0},{1}", hotel.Latitude, hotel.Longitude))
                            .Append(string.Format("&zoom=15&size=150x150&sensor=false"))
                            .Append(string.Format("&key={0}", googleApiKey))
                            .Append("&markers=").Append(Server.UrlEncode(string.Format("size:small|color:blue|{0},{1}", hotel.Latitude, hotel.Longitude)))
                            .ToString();
                        }

                        <img title="@hotel.Latitude, @hotel.Longitude" src="@url" alt="Google Map" class="img-rounded" height="150" width="150" />
                    </p>
                </div> 
                
                <div class="span4">
                    
                    <div class="row">
                        <!-- Hotel Amenities -->
                        <div class="pull-left">
                            <ul class="unstyled" style="margin-left: 10px;">
                                @foreach (var amenity in hotel.Amenities.GetFlags())
                                {
                                    // Only the popular amenities, otherwise we end up listing to much crap
                                    switch (amenity)
                                    {
                                        case Amenities.Breakfast:
                                        case Amenities.FitnessCenter:
                                        case Amenities.FreeParking:
                                        case Amenities.IndoorPool:
                                        case Amenities.Internet:
                                        case Amenities.OutdoorPool:
                                        case Amenities.PetsAllowed:
                                        case Amenities.HandicappedParking:
                                        case Amenities.Restauraunt:
                                        case Amenities.BusinessCenter:
                                        case Amenities.Babysitting:
                                            {
                                                <li>
                                                    <span><i class="icon-ok-sign"></i> @amenity.GetDescription()</span>
                                                </li>
                                            }
                                            break;
                                    }
                                }
                            </ul>
                        </div>
                        <!-- Hotel Price -->
                        
                    </div>
                    
                    <div class="pull-right" style="margin-top: -60px; position: relative">
                            
                        </div>

                    <div class="row" style="margin-bottom: -10px">
                        <!-- HOTEL GALLERY AJAX CALL -->
                        <div class="buttons" style="margin-top: 150px; margin-bottom: 0px;">
                            <div class="span2">
                            <a href="#gallery" id="@hotel.HotelId" data-toggle="modal" class="btn btn-small btn-info">
                                Photo Gallery <i class="icon-camera"></i>
                            </a>
                            </div>
                            <!-- DETAILS LINK -->
                            <div class="span2">
                                <a href="@Url.Action("Information", "Hotels", new RouteValueDictionary { { "id", hotel.HotelId } })" class="btn btn-small btn-info">
                                    <span>Hotel Details </span><i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    }

    <!-- End Hotel Results -->
    @Html.Partial("_pagination", Model)

</div>

<!-- HOTEL GALLERY MODAL -->
<div id="gallery" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Hotel Gallery</h3>
        
    </div>
    <div class="modal-body">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
            </div>
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <p>Note: It is the responsibility of the hotel to ensure accuracy of photos.</p>
    </div>
    <div class="modal-footer">
         
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
   
</div>

@section Scripts {

    <script type="text/javascript">
        
        /*
        http://stackoverflow.com/questions/13391566/twitter-bootstrap-carousel-different-height-images-cause-bouncing-arrows            
         */

        $(document).ready(function () {

            // Rate it Initilization
            $('.rateit').rateit();
            
            var tooltipvalues = ['Economy', 'Moderate', 'First Class', 'Superior', 'Deluxe'];

            $.each($(".rateit"), function(index, item) {

                $(this).attr('title', tooltipvalues[$(item).rateit('value') - 1]);
                
            });


            $('select#Sort').val($('input#SortOrder').val());
            
            $('select#Sort').change(function (e) {
                $('input#SortOrder').attr('value', $(this).val());
                $('form[method="get"]').submit();
            });

            // Register Click event
            $("a[href='#gallery']").click(function () {

                $.ajax({
                    url: '@Url.Action("Images", "Hotels")', // MVC Action
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        id: $(this).attr('id')
                    },
                    success: function (data) {
                        $('.carousel-inner').html(''); // Clear any previous content, i.e from clicking on another hotel gallery
                        $.map(data, function (item) {
                            var html =
                                "<div class='item hotel-image'>" +
                                    "<img alt='' title='" + item.name + "' src='" + item.Url + "' class='img-polaroid hotel-image' style='float:none; margin-left: auto; margin-right: auto;' />" +
                                    "<div class='carousel-caption'>" +
                                    "<h4>" + (item.caption != "" ? item.Caption : "") + "</h4>" +
                                    "</div>" +
                                    "</div>";

                            $('.carousel-inner').append(html);

                            $('.item').find('h4').each(function () {
                                if ($(this).val() === "") {
                                    $(this).parent('.carousel-caption').hide(); // nothing to show...
                                }
                            });
                        });

                        $('.carousel-inner div.item:first').attr('class', 'item active');
                        $('div#gallery').modal('show');
                        $('.carousel').carousel();
                    }
                });
            });
        });

    </script>

}